body {
    background-color: lightgrey!important;
}

.orders h3 a {
    font-size: 20px;
    color: black;
}

.red {
    color: red !important;

}

.content {
    word-wrap: break-word;
    font-size: 15px;
    color: grey;
}

.content a {
    font-size: 15px;
}

.filter {
    font-size: 11px;
}

.details {
    font-size: 10px;
    color: grey;
}


