:root {
    --light-link-color: #fffffa;
}

body {
    background-color: lightgrey!important;
}

.orders h3 a {
    font-size: 20px;
    color: black;
}

.red {
    color: red !important;

}

.content {
    word-wrap: break-word;
    font-size: 15px;
    color: grey;
}

.content a {
    font-size: 15px;
}

.filter {
    font-size: 11px;
}

.details {
    font-size: 10px;
    color: grey;
}

.details-bg {
    font-size: 13px;

}

.rounded-custom {
    border-radius:.50rem!important
}

#offer-create {
    display: none;
}

.main-logo {
    font-family: "Charmonman", cursive;
    display: inline-block;
    color: var(--light-link-color)!important;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
}


